@{
    ViewData["Title"] = "Home Page";
}

<a class="btn-btn-succes" asp-contoller="Home" asp-action="Yas Grubu">Yas</a>














@* <form asp-controller="Home" asp-action="VeriAl" method="post"> 
    <label >Ad</label>
    <input type="text" name="txtAd" >
    <label >Yaş</label>
    <input type="text" name="txtYaş" > *@
    @* <input type="submit" value="Gönder"> *@
 @* <button type="submit">Gönder</button>
</form> *@
