@* Bu sayfalar,içerisinde c# kodları ile html kodlarını birlikte yazamamızı sağlar.
Bunlara Razor Page denir. MVC yapısı içinde wiew olarak adlandırılır. *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Bu paragrafı biz yazdık</p>
    <button>Ekle</button>
   <input type="text">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>
