@using YemekTarifiApp.Web.Models.Dtos
@model FoodDto 
<div class="card mb-2">
    <div class="card-body">
        <h5 class="display-6 card-title text-center">@Model.Name</h5>
        <div class="text-success text-center">@Model.AddDate</div>
        <p class="display-7 card-title text-center">@Model.Material</p>
    </div>
</div>
