@using YemekTarifiApp.Web.Models.Dtos
@model FoodDto
<div class="card mb-2">
    <div class="card-img p-2 text-center">
        <img src="/YemekTarifiImages/@Model.ImageUrl" width="75" />
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Name</h5>
    </div>
    <div class="card-footer bg-light d-flex justify-content-around">
        <a class="btn btn-primary btn-sm"
           asp-controller="YemekTarifi"
           asp-action="FoodDetails"
           asp-route-foodurl=@Model.Url>Tarifi İncele</a>
        <a class="btn btn-success btn-sm">Yorum Yap</a>
    </div>
</div>
