@model List<Country>

@{
    ViewData["Title"] = "Home Page";
}

<div class="table table-bordered">
   <thead>
     
            <tr>
                <th>Ülke</th>
                <th>Başkent</th>
                <th>Bayrak</th>
            </tr>
       
   </thead>
   <tbody>
       @foreach (var country in Model)
        {
            <tr>
                <td>@country.name</td>
                <td>@country.capital</td>
            </tr>
        }
   </tbody>
</div>
